body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    font-size: 24px;
}
.queryarea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.optionarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.row {
    display: flex;
    justify-content: center;
}

.countbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.countboxtitle {
    font-size: 24px;
}

.countboxvalue {
    font-size: 72px;
}

.querybox, .optionbox {
    display: flex;
    width: 45vw;
    height: 45vw;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-transform: capitalize;
    border: black 1px solid;
    margin: 2px;
}

img {
    max-width: 100%;
    max-height: 100%;
}