body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.header {
    font-size: 48px;
    text-align: center;
    background-color: #fffafa;
}

.instructionbox {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.leftbox {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #fafffa;
}

.centrebox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    background-color: #fafaff;
    text-align: center;
    padding: 10px;
}

.rightbox {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fafffa;
}

.imagebox{
    display: flex;
    flex: 1;
    justify-content: center;
}

.row {
    display: flex;
    flex: 1;
    align-items: space-around;
}

.optionbox {
    display: flex;
    height: 40vw;
    flex: 1;
    margin: 10px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}

.bottombox {
    display: flex;
    justify-content: space-between;
}

.textbox {
    flex: 1;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
}

.timer, .score {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}

.instructions {
    font-weight: 700;
}

img {
    width: 200px;
    border: 1px solid #888888;
}